@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Base */
@import './base/variables.css';
@import './base/typography.css';

/* Components */
@import './components/button.css';
@import './components/card.css';
@import './components/input.css';

/* Utilities */
@import './utilities/background.css';
@import './utilities/flex.css';

@layer base {
	html,
	body {
		@apply h-full;
	}

	main {
		@apply flex-grow bg-slate-100;
	}
}

.root {
	display: flex;
	flex-direction: column;
	height: 100%;
}
