@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Base */
@import './base/variables.css';
@import './base/typography.css';

/* Components */
@import './components/button.css';

@layer base {
	html,
	body {
		@apply min-h-screen;
	}

	main {
		@apply flex-grow bg-slate-100;
	}
}

.root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
