@layer base {
	@font-face {
		font-family: 'Rubik';
		src: local('Rubik'), url('/fonts/Rubik-VariableFont_wght.ttf');
		font-display: swap;
		font-weight: 125 950;
		font-stretch: 75% 125%;
		font-style: normal;
	}

	h1 {
		@apply font-medium text-2xl sm:text-3xl xl:text-4xl;
	}

	h2 {
		@apply text-xl sm:text-2xl xl:text-3xl;
	}

	h3 {
		@apply text-lg sm:text-xl xl:text-2xl;
	}

	label,
	a {
		@apply text-xs sm:text-sm xl:text-base;
	}

	a {
		@apply text-secondary;
	}
}
